<h1 class="admin-title">
  <i class="fas fa-user-shield"></i> Welcome, Admin!
</h1>

<div class="admin-dashboard">
  <a routerLink="/client-list" class="admin-card">
    <i class="fas fa-users"></i>
    <h3>Client List</h3>
  </a>

  <!-- <a routerLink="/add-client" class="admin-card">
    <i class="fas fa-user-plus"></i>
    <h3>Add Client</h3>
  </a> -->

  <a routerLink="/team-retrive" class="admin-card">
    <i class="fas fa-users-cog"></i>
    <h3>Team Members</h3>
  </a>

  <a routerLink="/add-site" class="admin-card">
    <i class="fas fa-map-marker-alt"></i>
    <h3>Add Site</h3>
  </a>

  <a routerLink="/site-retrive" class="admin-card">
    <i class="fas fa-map"></i>
    <h3>Site Retrieve</h3>
  </a>

  <a routerLink="/project" class="admin-card">
    <i class="fas fa-tasks"></i>
    <h3>Project</h3>
  </a>

  <a routerLink="/supervisor" class="admin-card">
    <i class="fas fa-user-tie"></i>
    <h3>Supervisor</h3>
  </a>

   <!-- <a routerLink="/add-labour" class="admin-card">
    <i class="fas fa-tasks"></i>
    <h3>Add Labour</h3>
  </a> -->

   <a routerLink="/labour" class="admin-card">
    <i class="fas fa-tasks"></i>
    <h3> Labour</h3>
  </a>
   <!-- <a routerLink="/salary-slip" class="admin-card">
    <i class="fas fa-tasks"></i>
    <h3> salary slip</h3>
  </a> -->

   <a routerLink="/salary-retrive" class="admin-card">
    <i class="fas fa-receipt"></i>
    <h3> salary slip</h3>
  </a>

   <a routerLink="/contact-ret" class="admin-card">
    <i class="fas fa-receipt"></i>
    <h3>Contact Retrive</h3>
  </a>
</div>

<router-outlet></router-outlet>
